@import "tailwindcss";

:root {
  color-scheme: dark;
  --theme-400: 129, 140, 248;
  --theme-500: 99, 102, 241;
  --theme-600: 79, 70, 229;
  --theme-700: 67, 56, 202;
}

@theme {
  --color-indigo-400: rgb(var(--theme-400));
  --color-indigo-500: rgb(var(--theme-500));
  --color-indigo-600: rgb(var(--theme-600));
  --color-indigo-700: rgb(var(--theme-700));
}

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
